
<nav class="navbar navbar-expand-lg navbar-light bg-light container">
  @Html.ActionLink("Vidly", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><span class="nav-link">@Html.ActionLink("Customers", "Index", "Customers")</span></li>
      <li class="nav-item"><span class="nav-link">@Html.ActionLink("Movies", "Index", "Movies")</span></li>      
    </ul>
  </div>

  <div class="collapse navbar-collapse navbar-right" id="navbarSupportedContent">
    <ul class="navbar-nav navbar-right">
      <li class="nav-item"><span class="nav-link">@Html.ActionLink("Register","Register","Home")</span></li>
      <li class="nav-item"><span class="nav-link">@Html.ActionLink("Login","Login","Home")</span></li>      
    </ul>
  </div>

</nav>

